.root {
     -fx-background-image: url("background.jpg");
	 -fx-background-color: rgba(255,0,0,0);
}

#xScore {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1e90ff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#oScore {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #32cd32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#status {
      -fx-font-size: 42px;
      -fx-font-weight: bold;
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#version {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#winButton {
	-fx-background-color: linear-gradient(#ffc0cb, #db7093);
    -fx-text-fill: white;
}

.button {
    -fx-background-color: 
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color: linear-gradient(#6495ed, #5f9ea0);
    -fx-text-fill: white;
}