body {
    font-family: tahoma;  
    font-size: 16px;
}

#container {
    height: 231px;
    width: 395px;
    margin: 20px auto;
}

th {
    font-size: 2em;
    text-align: left;   
    height: 60px;
    vertical-align: top;
    padding: 0; 
}

tr td:first-child {
    width: 175px;
    text-align: center;
}

tr td:last-child {
    width: 210px;
}

#bold {
    font-weight: bold;
}

#image:before {
    content: url(images/softuni.png);
}