#container {
    font-family: Tahoma;
    font-size: 55px;
    height: 225px;
    width: 480px;
    margin: 10px auto;
}

table, td {
    border: 1px solid #000000;
    text-align: center;
    margin: 10px;
}

td:first-child {
    height: 85px;
    width: 170px;
    padding: 10px 10px 0 10px;
}

#inner-table td {
    padding: 0 10px;
    text-align: left;
}