body {
     font-size: 18px;
 }

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 85px;
}

input {
    margin-bottom: 5px;
}

input[type=text] {
    width: 700px;
}

#submit {
    display: block;
    background: #3C3C3C;
    color: #fff;
    font-size: 1em;
    border: none;
    width: 7em;
    height: 2em;
    outline: none;
    cursor: pointer;
}

#submit:hover {
    background: #E90606;
}

section {
    max-width: 15%;
}

article {
    background-color: rgba(255, 140, 0, 0.22);
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
}

ul {
    margin-top: 0px;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    margin: 10px 0 5px;
    text-transform: capitalize;
}