body {
    font-family: Tahoma;
    font-size: 40px;
}

#container {
    width: 480px;
    margin: 0 auto;
}

table, td, th {
    border: 1px solid #000000;
}

thead>tr:nth-child(1){
    height: 100px;
}

tbody {
    font-size: 0.5em;
}

tbody>tr>td{
    height: 100px;
    width: 110px;
}

#nested-table {
    margin: 3px;
    height: 120px;
}

#nested-table td {
    font-size: 0.8rem;
    font-weight: bold;
    height: 60px;
}

.top-left {
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.top-center {
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
}

.top-right {
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.middle-left {
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
}

.middle-center {
    vertical-align: middle;
    text-align: center;
}

.middle-right {
    vertical-align: middle;
    text-align: right;
    padding-right: 5px;
    font-size: 25px;
    font-weight: bold;
}

.bottom-left {
    vertical-align: bottom;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

.bottom-center {
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 5px;
}

.bottom-right {
    vertical-align: bottom;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
}