body {
     font-size: 18px;
 }

form {
    margin-bottom: 20px;
}

#text {
    height: 150px;
}

#banlist {
    height: 2em;
}

span {
    color: #808080;
    width: 75px;
    display: inline-block;
}

#text, #banlist {
    display: block;
    width: 700px;
    margin-bottom: 10px;
    font-size: 1em;
}

#submit {
    display: block;
    background: #3C3C3C;
    color: #fff;
    font-size: 1em;
    border: none;
    width: 7em;
    height: 2em;
    outline: none;
    cursor: pointer;
}

#submit:hover {
    background: #E90606;
}