body {
    font-family: Arial;
}

#circle {
    list-style-type: circle;
}

#decimal {
    list-style-type: decimal;
}

#disk {
    list-style-type: disc;
}

#lower-alpha {
    list-style-type: lower-alpha;
}

#square {
    list-style-type: square;
}

#upper-roman {
    list-style-type: upper-roman; 
}