.personal {
    font-size: 25px;
    border: 2px solid #41bcff;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    margin-bottom: 15px;
    width: 45%;
    background: rgba(29, 29, 29, 0.9);
}

section {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.deep-sky {
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.deep-sky a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(9, 9, 129, 0.68);
}

strong {
    color: #515dff;
}

#main-wrapper hr {
    border-bottom: 1px solid #3b2bd0;
}

.us {
    text-align: center;
    padding: 15px 0 25px 0;
    font-size: 1.25em;
}

.personal img {
    border-radius: 5px;
    vertical-align: middle;
    width: 250px;
    height: auto;
    max-width: 50%;
    float: left;
}

.text {
    color: #3479d0;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}

.text a {
    color: #eee;
    text-decoration: none;
}

.text a:hover {
    color: #9389d0;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.text p {
    font-size: .7em;
}

#rossica, #ivelin {
    margin-top: 2%;
}