main, article, div, hr, img, h1, h2, h3, h4, span, ul, li  {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    width: 1280px;
    margin: 0 auto; 
}

#container {
    background: #eee;
    width: 100%;
    height: 560px;
}

h1 {
    color: #2A6496;
    font-size: 25px;
    font-weight: normal;
    padding: 30px 0 0 85px;
}

main {   
    width: 100%;
    height: 500px;
    padding-left: 70px;
    float: left;
}

article {
    display: inline-block;
    width: 380px;
    height: 444px;
    float: left;
    padding: 15px;
}

.box {
    background: #fff;
    box-shadow: 0 2px 3px #bfbfbf;
    height: 400px;
    padding: 0 10%;
}

h2 {
    color: #2A6496;
    font-size: 15px;
    text-transform: uppercase;
    height: 74px;
    padding: 20px 0;
}

.date {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

a h3 {
    height: 55px;
    padding: 20px 0 0;
}

hr {
    color: #e3e3e3;
    border-width: 1px 0 0;
    opacity: 0.2;
    width: 100%;
    height: 15px;
    margin-top: 15px;
    padding-left: 10%;
}

a {
    text-decoration: none;
}

img {
    width: 280px;
    height: 112px;
}

h4 {
    color: #9d9d9d;  
    font-size: 13px;
    font-weight: normal;
}

span {
    color: #6d6d6d;
    font-weight: bold;
}

ul {
    width: 80%;
    float: left; 
    margin: auto;
    padding-left: 15px;
}

li {
    display: inline-block;
    background: #4ca0db;
    color: #fff;
    border: 1px solid #fff;
    border-right: none;
    line-height: 34px;
    text-align: center;
    float: left;
    list-style: none;
    width: 34px;
    height: 34px;
    margin: 0;
    cursor: pointer;
}

li:last-child {
    border-right: 1px solid #fff;
}

li:hover {
    background: #FF9C00;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}