@model SoftUni.Blog.App.Models.ViewModels.UserPreviewViewModel


@*<li id="@Model.UserName" style="font-weight: bold" onmouseover="GetUserPreview(this.id, this)" onmousemove="ChagePosition()" onmouseout="    HideToolTip()">@Model.Fullname</li>*@


<li id="@Model.UserName"  class="list-group-item" onmouseover="GetUserPreview(this.id, this)" onmousemove="ChagePosition()" onmouseout="HideToolTip()">@Model.Fullname</li>