main {
    overflow: auto;
}
main h1 {
    padding: 10px;
    text-align: center;
    float: right;
    width: 100%;
}

main h2 {
    font-size: 1em;
    text-align: center;
    padding: 10px 0 20px 0;
}

#nav-astro {
    width: 20%;
    float: left;
}

#nav-astro ul {
    background: rgba(29, 29, 29, 0.7);
    border-radius: 10px;
    padding: 3%;
    font-size: 1.2em;
    text-align: center;
    list-style: none;
    border: 2px solid gray;
}

#nav-astro li {
    line-height: 27px;
}

aside#nav-astro a {
    color: #ffffff;
    text-decoration: none;
}

#nav-astro a:hover {
    color: #9389d0;
}

#astro {
    width: 80%;
    float: right;
    padding-left: 2%
}


article {
    overflow: auto;
}

article>img {
    width: 20%;
    float: left;
}

article>div{
    max-width: 80%;
    text-align: justify;
    float: right;
    padding-left: 1%;
}

article>h3 {
    text-align: center;
}

.gem {
    color: brown;
}
.ema {
    display: block;
    text-align: center;
    max-width: 100%;
    float: none;
}

.ema div {

}

.laugh>h2 {
    width: 78%;
    font-size: 2em;
    float: right;
    margin: 2% 0;
    border: 4px solid #69cdff;
    box-shadow: 0 0 0 4px #16a9ff;
    border-radius: 500px;
}
.asterix {
    width: 78%;
    float: right;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.quot {
    width: 78%;
    float: right;
}


.nakov {
    width: 78%;
    margin-top: 3%;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

iframe {
    float: left;
    width: 640px;
    max-width: 100%;
    max-height: 480px;
}

#youtube {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 78%;
    float: right;
}