/*Home page style*/
@font-face {
    font-family: Graffiti;
    src: url('../resources/fonts/Sprite%20Graffiti.otf');
}

#homeHeader,#homeSubheader, #homePS{
    font-weight: lighter;
    text-align: left;
    margin: 20px;
    color: #333333;
}

#homeHeader{
    text-align: center;
    font-size: 40px;
    font-family: Graffiti;
}

#homeSubheader{
    text-align: center;
}
#homePS{
    text-align: justify;
    float: right;
}

#links {
    text-align: center;
}

h4{
    font-size: 1.3em;
    flex: 100%;
}

section img {
    max-width: 90%;
    height: auto;
}

.homeSection{
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
    vertical-align: top;

    border: 1px solid lightgray;
}
.homeParagraph{
    margin: 15px;
    text-align: left;
}

.homeLinks{
    color:#333333;
    text-decoration:none;
}
.homeLinks:hover section{
    background: #9389d0;
    color: #1D1D1D;;
    text-decoration:none;
}
.homeLinks:visited{
    color:#333333;
}