.gallery {
    text-align: center;
}

.gallery div {
    display: inline;
}

.gallery a {
    width: 220px;
    height: 220px;
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px -1px #000;
}

.gallery img {
    height: 100%;
    width: 100%;
}