body {
    margin: 0;
}

#container {
    margin: 0 auto;
    height: 415px;
    width: 1126px;
    background-color: #00923E;
    font-family: Tahoma;
}

table {
	border-spacing: 0;
    text-align: center;
    line-height: 56px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px;
}

/*--- 1.Table header ---*/

th {
    background-color: #F8C711;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    border: 2px solid black;
    border-right: none; 
}

th:first-child {
    border-radius: 15px 0 0 0;
    text-align: right;
    padding-right: 5px;
}

th:nth-child(3) {
    text-align: left;
    padding-left: 5px;
}

th:last-child { 
    border-radius: 0 15px 0 0;
    border-right: 2px solid black ;
}

/*--- 2.Table body ---*/

/*--- 2.1.Cells border, padding, text align and width ---*/
td {
    border: 2px solid black;
    border-top: none;  
    border-right: none;  
}

td:nth-child(1) {
    padding-right: 5px;
    text-align: right;
    width: 180px;
}

td:nth-child(2) {
    width: 105px;
}

td:nth-child(3) {
    padding-left: 5px;
    text-align: left;
    width: 180px;
}

td:nth-child(4) {
    width: 105px;
}

td:nth-child(5) {
    width: 155px;
    padding-right: 5px;
    text-align: right;
}

td:nth-child(6) {
    width: 110px;
}

td:nth-child(7) {
    width: 155px;
    text-align: left;
    padding-left: 5px;
}

td:nth-child(8) {
    border-right: 2px solid black;
    width: 56px;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
    text-align: right;
    padding-right: 5px;
}

tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
    border-right: 2px solid black;
}

/*--- 2.2.Rows background ---*/

tr:nth-child(odd) td{
    background-color: #FFFFFF;
}

tr:nth-child(even) td{
    background-color: #C8C8C8;
}

/*--- 2.3.Flags ---*/

tr:nth-child(1) td:nth-child(1) .flags:after {
    content: url(images/brasil.png);
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

tr:nth-child(1) td:nth-child(3) .flags:before {
    content: url(images/mexico.png);
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

tr:nth-child(2) td:nth-child(1) .flags::after {
    content: url(images/spain.png);
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

tr:nth-child(2) td:nth-child(3) .flags:before  {
    content: url(images/netherlands.png);
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

tr:nth-child(3) td:nth-child(1) .flags:after {
    content: url(images/italy.png);
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

tr:nth-child(3) td:nth-child(3) .flags:before  {
    content: url(images/england.png);
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

tr:nth-child(4) td:nth-child(1) .flags:after {
    content: url(images/argentina.png);
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

tr:nth-child(4) td:nth-child(3) .flags:before  {
    content: url(images/bosnia-herz.png);
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

tr:nth-child(5) td:nth-child(1) .flags:after {
    content: url(images/germany.png);
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

tr:nth-child(5) td:nth-child(3) .flags:before  {
    content: url(images/portugal.png);
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

/*--- 2.4.Results input ---*/

select:disabled {
    background-color: #DCDCDC;
    color: #F04B33;
}

select {
    color: #1CAE59;
    height: 34px;
    width: 38px;
    vertical-align: top;
    margin-top: 11px;
    font-size: 18px !important;
}

/*--- 2.5.Bet buttons ---*/

input[type=button] {
    color:white;
    height: 42px;
    width: 42px;
    border-radius: 42px;
    font-weight:bolder;
    font-size: 12px;
    vertical-align: top;
    margin-top: 7px;
}

.red{
    background:red;
}

.green{
    background:green;
}