@font-face {
  font-family: 'ThisNight';
  src: url('resources/ThisNight.ttf') format('opentype');
}

@font-face {
  font-family: 'LDFComicSans';
  src: url('resources/LDFComicSans.ttf') format('opentype');
}

body, div, header, nav, ul, li, a, main, section, article, img, p, h1, h2, footer {
    box-sizing: border-box;
}

body {
    background: #234465;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

/*--- 1. Header ---*/

header {
    font-family: 'ThisNight';  
}

#logo {
    background: #234465;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

h1 {   
    color: #ffffff;
    margin: 0 auto;
}

h1:hover {
    color: #FF9C00;
    cursor: pointer;
}

#navigation-main {
    background: #ffffff;
    text-align: center;
    height: 60px;
    padding: 5px 0;
}

#navigation-main ul {
    margin: 5px;
}

#navigation-main li {   
    cursor: pointer;  
}

#navigation-main div { 
    width: 100px;
    height: 30px;
    vertical-align: middle;
}

#navigation-main a {
    color: #234465;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

#navigation-main li:hover a {   
    color: #FF9C00;   
}

#active div {
    background: #234465;
}

#active a {
    color: #ffffff;
}


/*--- 2.Main content ---*/

main {
    background: #ffffff;
    padding-bottom: 20px;
}

#main-wrapper {
    background: #ffffff;
    font-family: 'LDFComicSans';
    width: 960px;
    margin: 0 auto;
}

section {
    width: 820px;
    margin: 0 auto;
    text-align: center;
}

article {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 7px 7px 13px #234465;
    margin: 5px; 
}

h2 {
    background: #234465;
    line-height: 45px;
    color: #ffffff;
    text-shadow: 2px 2px 3px#FF9C00;
    width: 300px;
    margin: 10px auto;
}

img {
    width: 280px;
    cursor: pointer;
}

p.text {
    font-size: 14px;  
    text-align: left;
    margin: 0;
    padding: 10px;
}

p.details {
    font-size: 12px;
    font-style: italic;
    text-align: left;
    margin: 0;
    padding: 0 10px 10px 10px;
}

/*--- 3. Footer ---*/

footer {
    font-family: 'LDFComicSans';
    text-align: center;
    background: #234465;
}

#navigation-footer ul {
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding: 10px;

}

#navigation-footer li {
    width: 85px;
    height: 30px;
    cursor: pointer;
}

#navigation-footer li:hover {
    background: #FF9C00;
}

#navigation-footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

#navigation-footer li:hover a {
    color: #234465;
}

#contacts {
    width: 115px;
    margin: 10px auto;
}

#contacts p {
    font-size: 10px;
    margin: 3px;
}

#contacts a {
    color: #ffffff;
    text-decoration: none;
}

#contacts a:hover {
    color: #FF9C00;
}




