* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    max-width: 100%;
    font-size: 16px;
}

/*--- Header ---*/

header {
    background: #222222;
}

header .navbar {
    max-width: 1170px;
    margin: 0 auto 20px;
    border: none;
    background: #222222;
}

.navbar-nav li {
    margin: 0 2px;
}

header .navbar-inverse .navbar-nav>.active>a {
    background: #E90606;
}

body .navbar-inverse .navbar-nav>li>a:hover, body .navbar-inverse .navbar-nav>.active>a:hover {
    background: #E90606;
}

header .navbar-inverse a {
    color: #ffffff !important;
    font-size: 1.2em;
}

main{
    max-width: 1170px !important;
    margin: 0 auto !important;
}

h2 {
    font-size: 1.4em;
}

/*.glyphicon-ok {*/
    /*color: green;*/
    /*vertical-align: top;*/
    /*top: 5px;*/
    /*font-size: 1.3em;*/
/*}*/

/*.glyphicon-remove {*/
    /*color: red;*/
    /*vertical-align: top;*/
    /*top: 5px;*/
    /*font-size: 1.3em;*/
/*}*/

#passwordChangeForm .ng-dirty.ng-valid, #loginForm .ng-dirty.ng-valid, #registerForm .ng-dirty.ng-valid {
    border:1px solid #008000;
}
#passwordChangeForm .ng-dirty.ng-invalid, #loginForm .ng-dirty.ng-invalid, #registerForm .ng-dirty.ng-invalid {
    border:1px solid #a94442;
}

.comments li{
    list-style: none;
    border-top: 1px solid lightgray;
    padding: 5px 20px;
}

.author {
    cursor: pointer;;
    color: #038cff;
}

.like-button {
     cursor: pointer;
     color: #247ab5;
 }

.unlike-button {
    cursor: pointer;
    color: #b54a0b;
}

#user-preview-box {
    position: absolute;
    display: none;
    background: #ffffff;
}

#profile-image {
    display: none;
}

#profile-image-preview {
    margin-bottom: 0;
}

.file-limit {
    text-align: center;
}

.noty_type_error{
    background: #ff574f;
    color: white;
}

.noty_type_success {
    /*#dff0d8*/
    background: rgba(121, 216, 121, 0.50);
    /*#3C763C*/
    color: #3C763C;
}

#search-results {
    position: absolute;
}

#loading {
    position: absolute;
    color: #ff0000;
 }