div, header, main, section, article, h1, h2, figure, figcaption, p, meter, audio, video {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;  
    font-size: 16px; 
}

#container {
    background: #FFC0CB;
    border-radius: 20px;
    width: 1055px;
    height: auto;
    margin: 0 auto;
    padding: 20px;  
}

article {
    display: inline-block;
    vertical-align: top;
}

audio {
    display: block;   
    width: 300px;
}

#big {
    background: #000000;
    height: 151px;  
    padding-top: 40px;
}

#audio-black {
    height: 30px;
}

.audio-transparent {
    height: 30px;
    margin-top: 5px;    
}

#user img {
    width: 250px;
} 

figure {
    margin: 0;
}

video {
    vertical-align: top;
    width: 455px;
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;   
    margin-bottom: 5px;
}

p {
    margin: 4px 0;
}

meter {
    width: 160px;
}