<li class="media" ng-repeat="comment in post.comments">
    <div class="media-left">
        <img class="media-object" ng-src="{{comment.author.profileImageData}}"  err-src="{{defaultImage}}" alt="..." style="width: 50px; height: 50px">
    </div>
    <div class="media-body">
        <span class="glyphicon glyphicon-user"></span><span class="author" popup-show="templates/user-preview-box.html" ng-click="showUserPreview(comment.author.username, $event, 'comment')"> {{comment.author.name}}</span>
        <span>{{comment.date | date: "dd MMM yyyy hh:mm:ss"}}</span>
        <p>{{comment.commentContent}}</p>
    </div>
    <div class="col-xs-12 col-md-12">
        <span ng-if="isOwnWall || isOwnFeed || post.author.isFriend || post.wallOwner.isFriend">
            <span ng-if="!comment.liked" ng-click="likeComment(post, comment);" class="like-button">Like</span>
            <span ng-if="comment.liked" ng-click="unlikeComment(post, comment);" class="unlike-button">Unlike</span>
        </span>
        <span class="glyphicon glyphicon-thumbs-up" title="likes"></span> <span class="views post-details" title="likes">{{comment.likesCount}}</span>
    </div>
</li>
<li class="pointer" ng-if="post.comments.length < post.totalCommentsCount" ng-click="getPostComments(post)">view all</li>