<header ng-if="isLogged()" header-directive></header>

<main user-controller-directive ng-init="getWallOwner()">

    <div class="wall-header col-xs-12">
        <div ng-if="wallOwner" class="media-left">
            <img ng-src="{{wallOwner.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 100px; height: 100px"/>
        </div>
        <div class="media-body">
            <h2>{{wallOwner.name}}</h2>
        </div>
    </div>
    <div class="form-group col-md-9">
        <div ng-if="isOwnWall || wallOwner.isFriend" ng-include="'templates/post-box.html'" class="row well">
        </div>
        <div ng-if="isLogged()" ng-include="'templates/posts.html'" class="row" infinite-scroll='loadUserWall()' infinite-scroll-disabled='busy' infinite-scroll-distance="0">
        </div>
    </div>
    <div class="media col-md-3" ng-include="'templates/friends-preview.html'">
    </div>
</main>