#container {
    font-family: Tahoma;
    font-size: 14px;
    background: #EEEEEE;
    height: 400px;
    width: 700px;
    margin: 0 auto; 
}


/*--- Title and description ---*/

h1 {
    color: #092F54;
    padding: 5px 0 0 15px;
}

p {
    color: #808080;
    padding: 0 0 10px 15px;
}


/*--- Styling both forms ---*/

form {
    display: inline-block;
    height: 279px;
    width: 336px;
}

fieldset {
    border: none; 
    padding: 0 10px;
    height: 279px;
}

a {
    color: #ffffff; 
}

legend {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;   
    padding: 7px 0;
    height: 20px;
}

input {
    outline: none;
}

    .text {
        font-size: 15px;
        border: 1px solid #808080;
        height: 36px;
        width: 300px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 0;      
    }


/*--- Styling only Register form ---*/

#register {   
    margin-left: 4px;
}

    #register legend {
        color: #808080;
    }

        #register span {
            color: #092F54;
        }

    #register-button {
        font-size: 17px;
        text-align: center; 
        background: none;
        color: #234465;
        border: 2px solid #234465;      
        height: 40px;
        width: 125px;
        float: right;    
        margin-top: 6px; 
    }

        #register-button:hover {
            cursor: pointer;
            color: #ffffff;
            background: #234465;
        }


/*--- Styling only Login form ---*/

#login {
    background: #234465;
    color: #ffffff;
    vertical-align: top;
    margin-right: 10px;
}
    #login legend {
        color: #ffffff;
    }

    #login div:first-of-type {
        height: 40px;
    }
        #remember-me {
            font-size: 10px;
            height: 20px;
            width: 20px;
            margin-left: 0;   
            -moz-appearance: none;
        }

        #login label {
             vertical-align: top;
        }

            #login label:hover {
                cursor: pointer;
            }

        #login-button {
            font-size: 17px;
            text-align: center;
            background: none;
            color: #ffffff;
            border: 2px solid #E1900E;         
            float: right;           
            height: 40px;
            width: 125px;
        }
            #login-button:hover {             
                background: #E1900E;
                cursor: pointer;
            }

    #login span {
        display: inline-block;
        float: right;
        padding-top: 10px;
        text-decoration: underline;
        margin-right: 2px;
    }