body, div, input, p {
    box-sizing: border-box;
    outline: none;  
    float: left; 
}

body {
    font-size: 16px;
    width: 100%;
    padding: 1%;
    margin: 0;
}

#container {
    width: 99%;
}

#shortcuts {
    width:100%;
}

.red {
    color: red;
}

td {
    display: block;
}

#input {
    width: 100%;
    max-width: 300px;
    height: 2.5em;
    font-size: 1em;
    padding: 0 5px;  
    border: 1px solid #000;
    border-right: none;  
}

#calc, #reset {
    width: 8em;
    height: 2.5em;
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    background: #3C3C3C;
    color: #fff;
}

#calc {
    border-right: 1px solid #fff;
}

#calc:hover, #reset:hover {
    background: #E90606;
}

#results {
    width: 100%;
}

p {
    width: 100%;
    margin: 3px;   
    font-size: 1.1em;
}