body, header, nav, main, aside, footer, a, h1,  ul, li, section, article, img, span, .image, .text, .text-full, #container, #header-text, #mobile-nav {
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    background: #101415;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}

#container {
    width: 100%; 
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}


/*--- 1.Header ---*/

header {
    text-align: right;
    width: 100%;
    position: relative;   
}

/*-- 1.1.Header BG resolutions --*/
header #header-wrapper {
    overflow: auto;
    height: 100%;
}

#header-wrapper img {
    max-width: 100%;
    position: relative;
    float: left;
    left:0;
    top:0;
}

#header-text {
    position: absolute;
    color: #fff;
    font-size: 2em;
    font-weight: bold;  
    max-width: 900px;
    text-align: right;
    right: 2%;
    bottom: 15%;
}

/*-- 1.2.Header responsive designe --*/

#header-wrapper-mobile {
    display: none;
}

#header-wrapper-mobile img {
    width: 100%;
    position: relative;
    float: left;
    left:0;
    top:0;
}

#header-text-mobile {
    position: absolute;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;  
    right: 2%;
    margin-top: 20%;
}

/*-- 1.3. Navigation menu --*/

#menu-primary {
    width: 100%;
    display: block;
    float: right;
    height: 100%;
    background: #E5E5E5;
}
    
#menu-primary ul {
    margin: 0;
    list-style: none;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: left;
}

#menu-primary li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: .4em .9em;
    border-right: 2px solid #fff;
    float: left;
}

#menu-primary li:hover {
    background: #B7B7B7;
    color: #fff;
    cursor: pointer;
}

.mobile-nav-open, .mobile-nav-close {
    display: none;
}


/*--- 2.Main content ---*/

main {
    display: inline-block;
    float: left;
    width: 75%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-top: 2%;

}

section {
    border: 2px solid rgba(183, 183, 183, 0.31);
    margin: 0 2% 2%;
    padding: 0 3%;
    border-radius: 15px;
}

article {
    margin-bottom: 3%;
    height: 100%;
    overflow: auto;
}

h1 {
    color: #7ABB11;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.5em;
}

hr {
    display: none;
    height: 2px;
    background: #B7B7B7;
    border: none;
    opacity: 0.7;
}

#capitalized {
    text-transform: capitalize;
}

.image {
    width: 26%;
    height: auto;
    float: left;
}

.image img {
    width: 100%;
}

.bold {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;  
}

.bold a {
    color: #000;
    text-decoration: none;   
}

.text {
    height: 100%;
    overflow: hidden;
    width: 74%;
    padding-left: 3%;
}


/*--- 3.Aside ---*/

aside {
    display: inline-block;
    float: left;
    width: 23%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

#news {
    background: #EEEEEE;
    margin-bottom: 10%;
}

#news article {
    margin-bottom: 10%;
}

#messages a.url {
    padding: 5% 0 2%;
}

aside  p.bold {
    margin: 0;
}

.url {
    display: block;
    color: #7ABB11;
}


/*--- 4.Footer ---*/

footer {
    display: block;
    float: left;
    width: 100%;
    background: #87C11C;
}

footer li {
    display: inline-block;
    font-size: 1em;
    padding: .4em 0
}

footer a {
    color: #000;
}


/*--- 5. Responsive design---*/

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }

    /*-- 5.1.Mobile navigation --*/

    #menu-primary {
        float: left;
    }

    .mobile-nav-open {
        display: block;
        float: left;
        width: 65px;
        height: auto;
        padding: 14px;
        cursor: pointer;
    }

    .mobile-nav-close {
        display: none;
        float: left;
        width: 65px;
        height: 60px;
        padding: 14px;
        cursor: pointer;
    }

    #menu-primary:target #navigation {
	    display: block;

    }
    #menu-primary:target #menu-toggle-primary a.mobile-nav-open {
	    display: none;
    }
    #menu-primary:target #menu-toggle-primary a.mobile-nav-close {
	    display: block;
    }

    #navigation {
        display: none;
    }

    #navigation li {
        background: #eeeeee;
        display: block;
        width: 100%;
        text-align: left;
        border-top: 2px solid #fff;
        border-right: none;
    }

    #navigation li:hover {
        background: #B7B7B7;  
    }

    #navigation li:first-child {
        border-top: none;
    }

    

    /*-- 5.2.Header background --*/

    #header-wrapper {
        display: none;
    }

    #header-wrapper-mobile {
        display: block;
        float: right;
    }

    #header-text-mobile {
        font-size: 1.7em;
    }

    /*-- 5.3.Main content --*/

    main {
        display: block;
        width: 100%;      
        margin: auto;
        padding: .5%;
    }

    section {
        margin: 1% !important;
    }    

    .bold {
        margin: 1% 0;
    }

    .text {
        padding-left: 0;
    }

    .image, .text{
        width: 100%;
    }

    .image img {
        width: auto;
    }

    hr {
        display: block;
    }

    /*-- 5.4.Aside --*/

    aside {
        display: block;
        width: 100%;
        padding: 1%;
        margin: auto;
    }
    
    #news article {
        display: inline-block;
        margin-bottom: 5%;
    }

    /*-- 5.5.Footer --*/

    footer ul {
        padding: 1%;
    }

    footer li {
        display: inline;
    }    
}

@media screen and (max-width: 400px) {
    #header-text-mobile {
        font-size: 1.2em;
    }
}